---
import * as prismic from '@prismicio/client'
import { Image } from "astro:assets";
import { formatterImage } from 'utils/formatterImage';

const { data } = Astro.props;
const imgSrc = formatterImage(data?.image)
const title = prismic.asText(data.title)
const description = prismic.asText(data.description)
const url = data.url.url
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target="_blank" referrerpolicy="no-referrer">
    <div class="hero-content flex-col md:flex-row">
      {
        imgSrc && (
          <Image
            src={imgSrc}
            width={750}
            height={422}
            format="webp"
            alt={data.image.alt ?? "proyecto"}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
        </h1>
        <p class="py-1 text-1xl">{description}</p>
      </div>
    </div>
  </a>
</div>
